
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      display: flex;
    }

    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: rgb(255, 130, 41);
      display: flex;
      align-items: center;
      padding-left: 30px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      z-index: 1000;
    }

    #menu {
      width: 220px;
      height: 100;
      background-color: rgb(255, 208, 147);
      padding: 30px 10px;
      margin-top: 60px;
    }

    #menu div {
      width: 200px;
      margin: 10px auto;
      padding: 10px;
      background-color: aliceblue;
      border-radius: 7px;
      text-align: center;
    }

    #content {
      margin-left: 240px;
      padding: 100px 30px 30px;
      flex: 1;
    }

    #gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .photo-item {
      width: 220px;
      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
    }

    .photo-item img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
.consorcioLista{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(255, 243, 227);
}
.tituloConsorcioLista{
    margin: 10px;
}
.valorConsorcioLista{
    align-self: center;
    font-style: italic;
    color: green;
    margin: 10px;
}